//welcome

.btn {
	width: 70%;
	margin: auto;
	margin-top: 80px;
	font-family: sans-serif;
	background-color: black;
	font-family: 'Lato', sans-serif;
	color: aqua;
	border-color: aqua;

	transition: background-color 0.2s;

	&:hover {
	color: white;
	background-color: aqua;
	border-color: white;
	}

	&:active {
	color: white;
	background-color: aqua;
	border-color: aqua;
	}
}

.title {
	font-size: 40px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: black;
	width: 100%;
	height: 900px;
	margin: none;
	padding: none;
}
.panel {
	margin: auto;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 20px;
	background-color: black;
	border: solid white 1px;
	width: 50%;
	border-radius: 10px;
	height: 600px;
	width: 300px;
}

.star-container {
	margin: auto;
	text-align: center;
}

.border-animate {
	animation-duration: .7s;
	animation-name: border-animate;
	// transition: 1s sparkborder-animate;
}

@keyframes border-animate {
	from {width: 300px;}
	to {width: 1400px;}
}
