.star.ng-enter, .star.ng-move {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
  opacity:0;
}

.star.ng-enter.ng-enter-active,
.star.ng-move.ng-move-active {
  opacity:1;
}

.star {
	fill: aqua;
}

.dark {
	fill: black;
	// animation-duration: .5s;
	// animation-name: fadeout;
	// -webkit-animation: fadeout .5s; /* Safari, Chrome and Opera > 12.1 */
	// -moz-animation: fadeout .5s; /* Firefox < 16 */
	// -ms-animation: fadeout .5s; /* Internet Explorer */
	// -o-animation: fadeout .5s; /* Opera < 12.1 */
	// animation: fadeout .5s;
}

.animate {
	animation-duration: .8s;
	animation-name: sparkle;
	// transition: 1s sparkle;
}

.fadeinstar {
	animation-duration: .8s;
	animation-name: fadeinstar;
}

.fadeoutstar {
	animation-duration: 1s;
	animation-name: fadeoutstar;
}

@keyframes fadeinstar {
	from { fill: black;}
	to { fill: aqua;}
}
@keyframes fadeoutstar {
	from { fill: aqua;}
	to { fill: black;}
}

@keyframes sparkle {
	from {fill: aqua;}
	50% {fill: white;}
	to {fill: aqua;}
}

// .star.ng-leave {
//   -webkit-animation:0.5s fadeout;
//   -moz-animation:0.5s fadeout;
//   -o-animation:0.5s fadeout;
//   animation:0.5s fadeout;
// }


// @keyframes fadeout {
//   from { opacity:1; }
//   to { opacity:0; }
// }
//
// @-webkit-keyframes fadeout {
//   from { opacity:1; }
//   to { opacity:0; }
// }
//
// @-moz-keyframes fadeout {
//   from { opacity:1; }
//   to { opacity:0; }
// }
//
// @-o-keyframes fadeout {
//   from { opacity:1; }
//   to { opacity:0; }
// }
