* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}


:focus {
  border-width: 0px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding: 0;
  margin: 0 auto;
  width: 1200px;
}

@import 'directives/main';
@import 'home/main';
@import 'play/main';
